body
{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

.content
{
    width: 100%;
   
}
.logowanie
{
    float:left;
    margin:5em;
    padding:1em;
    width:15em ;
background: #fff;
border: 1px solid silver;
font: 20px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver; 
-moz-box-shadow: 0 0 2px silver; 
box-shadow: 0 0 2px silver;
}
.rejestracja
{
    float: right;
    margin:5em;
    padding:1em;
    width:20em ;
background: #fff;
border: 1px solid silver;
font: 20px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver; 
-moz-box-shadow: 0 0 2px silver; 
box-shadow: 0 0 2px silver;
}
form {
margin: 0;
}

input {
    display: block;
    width: 85%;
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 2px silver;
    }

    input[type="submit"]
     {
        width: 100%;
        border: 1px solid #005f85;
        color: white;
        text-shadow: 0 0 1px black;
        background: #00b7ff;

        }



.error
{
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
}